
@import "layout.css";


/*.jumbotron {*/
/*    position: relative;*/
/*    height: 200px;*/
/*    overflow: hidden;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.jumbotron img.background-image {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    opacity: 1.7;*/
/*}*/

/*.banner {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background-color: rgba(255, 255, 255, 0.8);*/
/*    padding: 10px 20px;*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*}*/
.light-title-bar {
    background-color: rgba(255, 255, 255, 0.8);
}

.jumbotron {
    position: relative;
    height: 346px;
    overflow: hidden;
}

.jumbotron img.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.btn {
    background-color: blue;
    color: white;
}
.table-header {
    background-color: lightgrey;
}