:root {
    --primary-light:rgb(237, 237, 237);
    --primary-blue: #0072bb;
    --primary-gradient:linear-gradient(180deg, #5b54a9, yellow );
    --footer-primary: #004225;
}

#map {
    border: black solid 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

body {
    font-weight: bold;
}

#below-the-map{
    background-color: var(--primary-blue) ;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid.custom-bg {
    position: relative;
    opacity: 81%;

    object-fit: contain;
    background: var(--primary-gradient);
    margin-bottom: 5px;
}

.row{
    margin-top: 0;
}

.h2{
    font-weight: bold;
}

.card:hover {
    transform: scale(1.25);
}

.card-body p {
    margin-bottom: unset;
}

input#search-input {
    /*background: unset;*/
    border: 3px solid black;
    border-radius: 15px;
}

input#search-input::placeholder {
    color: #0072bb;
}

button#search-btn {
    border: 3px solid black;
    border-radius: 15px;
    color: #00feba;
}

.footer {
    width: 100%;
    height: 75px;
    background-color: var(--footer-primary);
}