* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

body{font-family: Raleway,sans-serif;
    color: #07043B;

}

a {
    color:inherit;
    text-decoration: unset;
}

ul{
    list-style: none;

}
.label{
    display: block;
}